@model RestaurantManagement.Models.Food

<div class="food-detail">
    <div class="container">
        <img src="@Model.FoodLink" alt="@Model.FoodName" class="food-detail_img" style="object-fit:cover;">
        <div class="food-detail_desc">
            <h2 class="title">@Model.FoodName</h2>
            <div class="rating">
                <img src="~/img/Icon/start.svg" alt="">
                <p>( 1 customer review )</p>
            </div>
            <h4 class="price">@Model.Price.ToString("C")</h4>
            <p class="sub-title">@Model.Description</p>
            <div class="food-detail_action">
                <div>
                    <a href="#">
                        <img src="~/img/Icon/tru.svg" alt="">
                    </a>
                </div>
                <p>1</p>
                <div>
                    <a href="#">
                        <img src="~/img/Icon/cong.svg" alt="">
                    </a>
                </div>
            </div>
            <form method="post" action="@Url.Action("AddToCart", "Cart")">
                <input type="hidden" name="foodId" value="@Model.FoodID" />
                <input type="hidden" name="price" value="@Model.Price" />
                <button type="submit" class="btn">Add To Cart</button>
            </form>
            <div class="more-inf">
                <p><strong>SKU:</strong>  PT322</p>
                <p><strong>CATEGORY:</strong>  Lunch</p>
                <p><strong>TAGS:</strong>  Sweets,Ghevar </p>
            </div>
        </div>
    </div>
</div>
